.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.list{
    list-style: none;
}
svg{
    fill: white;
    width: 20px;
}
.gap{
    gap: 10px;
}
.point{
    cursor: pointer;
}


.signup:hover{
    color: gray;
}
.login:hover{
    transform: scale(1.1);
}
.card:hover{
    cursor: pointer ;
    background-color: rgba(82, 81, 81, 0.397);

}






/* scroll bar css from AI */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for the track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444; /* Scrollbar thumb color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1a1a1a;
}
